.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.calculadora {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.display {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  flex: 1;
  outline: 1px solid #888;
}

.anterior {
  flex: 1;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.atual {
  flex: 3;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4em;
}

.meio {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.6em;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
}

.border {
  background-color: rgb(0, 0, 192);
  color: white;
}

.clear {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.6em;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  flex: 1;
  outline: 1px solid #888;
}